{
    "requestAbsoluteUrl" : "$requestAbsoluteUrl",
    "requestBody" : "$requestBody",
    "requestMethod" : "$requestMethod",
    "requestHeaderHost" : "$requestHeaderHost",
    "requestHeaderUserAgent" : "$requestHeaderUserAgent",
    "requestHeaderAcceptAccept" : "$requestHeaderAccept",
    "requestHeaderAcceptLanguage" : "$requestHeaderAcceptLanguage",
    "requestHeaderAcceptEncoding" : "$requestHeaderAcceptEncoding",
    "requestHeaderConnection" : "$requestHeaderConnection",
    "date" : "$date",
    "math": "$math.round(22.2)",
    #if($requestAbsoluteUrl == 'http://localhost:8089/my/resource')
"customProp" : "customValue",
"customProp2" : "customValue2",
    #else
"customProp" : "customValue",
    #end
    "date" : "$date.getMonth()",
    "math" : "$math.floor(2.5)"
}